<section class="blog_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>From Our Blog</h2>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <ng-container *ngIf="books$ | async as books">
            <div *ngIf="books.length > 0; else noBooks">
              <div class="row">
                <div class="col-md-4" *ngFor="let book of books">
                  <div class="box">
                    <div class="img-box">
                      <img [src]="book.imageurl" alt="{{ book.name }}" />
                      <h4 class="blog_date">
                        <span> CA ${{ book.price }} </span>
                      </h4>
                    </div>
                    <div class="detail-box">
                      <h5>{{ book.name }}</h5>
                      <p>{{ book.author }}</p>
                      <p>{{ book.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noBooks>
            <p>No books to display.</p>
          </ng-template>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</section>
